.sidebar {
    background-color: #0c071b;
    box-shadow: 0 0 20px rgba(194, 79, 240, 0.5);
    padding: 2rem;
    border-radius: 15px;
    width: 20vw;
    min-height: 70vh;
    position: fixed;
    top: 6rem;
    left: 2rem;
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(194, 79, 240, 0.8);
}

/* Đảm bảo avatar nằm trên cùng */
.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; /* Tạo khoảng cách với menu */
}

/* CSS cho menu item */
.menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.menuItem {
    border: 2px solid #c24dd0;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 80%; /* Giữ các mục menu có cùng chiều rộng */
}

/* Hiệu ứng hover menu */
.menuItem:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* Mục menu đang active */
.activeMenuItem {
    background-image: linear-gradient(150deg, #c24dd0, #7a72fa);
    color: white;
    box-shadow: 0 0 10px rgba(194, 79, 240, 0.8);
}

.menuItem{
    border: 2px solid #c24dd0;
}

.activeMenuItem{
    background-image: linear-gradient(150deg, #c24dd0, #7a72fa);
    color:white
}

.logoutButton{
    color:white ;
    background-image: linear-gradient(150deg, #c24dd0, #ff005d);
}

.customButton{
    color:white !important;
    background-image: linear-gradient(150deg, #c24dd0, #7a72fa);
}
